USE [master]
GO
/****** Object:  Database [r67_msd]    Script Date: 4/18/2026 12:48:04 AM ******/
CREATE DATABASE [r67_msd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'r67_msd', FILENAME = N'E:\IsDB\SQL Server install\MSSQL16.MSSQLSERVER\MSSQL\DATA\r67_msd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'r67_msd_log', FILENAME = N'E:\IsDB\SQL Server install\MSSQL16.MSSQLSERVER\MSSQL\DATA\r67_msd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [r67_msd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [r67_msd]
GO
/****** Object:  Table [dbo].[bookingEntries]    Script Date: 4/18/2026 12:48:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookingEntries](
	[bookingEntryId] [int] IDENTITY(1,1) NOT NULL,
	[guestsId] [int] NULL,
	[roomId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guests]    Script Date: 4/18/2026 12:48:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guests](
	[guestsId] [int] IDENTITY(1,1) NOT NULL,
	[guestsName] [nvarchar](50) NOT NULL,
	[bookingDate] [date] NOT NULL,
	[numberOfGueist] [int] NOT NULL,
	[picture] [nvarchar](max) NULL,
	[coupleStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guestsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 4/18/2026 12:48:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[roomId] [int] IDENTITY(1,1) NOT NULL,
	[roomName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bookingEntries] ON 

INSERT [dbo].[bookingEntries] ([bookingEntryId], [guestsId], [roomId]) VALUES (8, 8, 1)
INSERT [dbo].[bookingEntries] ([bookingEntryId], [guestsId], [roomId]) VALUES (11, 6, 6)
INSERT [dbo].[bookingEntries] ([bookingEntryId], [guestsId], [roomId]) VALUES (12, 9, 3)
SET IDENTITY_INSERT [dbo].[bookingEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[guests] ON 

INSERT [dbo].[guests] ([guestsId], [guestsName], [bookingDate], [numberOfGueist], [picture], [coupleStatus]) VALUES (5, N'Foysal', CAST(N'2026-01-07' AS Date), 2, N'/Images/639031049274820069.jpg', 0)
INSERT [dbo].[guests] ([guestsId], [guestsName], [bookingDate], [numberOfGueist], [picture], [coupleStatus]) VALUES (6, N'Mehrab', CAST(N'2026-01-13' AS Date), 4, N'/Images/639031064638872497.jpg', 1)
INSERT [dbo].[guests] ([guestsId], [guestsName], [bookingDate], [numberOfGueist], [picture], [coupleStatus]) VALUES (8, N'Rahim', CAST(N'2026-01-14' AS Date), 2, N'/Images/639031018359704512.jpg', 1)
SET IDENTITY_INSERT [dbo].[guests] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([roomId], [roomName]) VALUES (1, N'Budget-101')
INSERT [dbo].[rooms] ([roomId], [roomName]) VALUES (2, N'Business-102')
INSERT [dbo].[rooms] ([roomId], [roomName]) VALUES (3, N'Family-103')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
ALTER TABLE [dbo].[bookingEntries]  WITH CHECK ADD FOREIGN KEY([guestsId])
REFERENCES [dbo].[guests] ([guestsId])
GO
ALTER TABLE [dbo].[bookingEntries]  WITH CHECK ADD FOREIGN KEY([roomId])
REFERENCES [dbo].[rooms] ([roomId])
GO
USE [master]
GO
